div(class='theNext')
    div(class='container')
        div(class='row contactInfo')
            h3  Work Hours: 9:00am - 5:00pm; Monday - Friday 
            p  101 W. Badger St. P.O. Box 108 Shannon, IL 61078
            p  Phone: (800) 578-2363 Fax: (815) 864-2388 www.teeleepopcorn.com 