div(class='Footer')
	#flexbox-holder2.holder
		div(class='flex num00')
			a(href='/sub/careers') Careers 
		div(class='flex num01') 815.864.2363
		div(class='flex num03')
			a(href='https://www.google.com/search?site=&source=hp&q=tee+lee+popcorn+&oq=tee+lee+popcorn+&gs_l=psy-ab.3..0.978.2910.0.4751.16.11.0.0.0.0.521.1733.0j2j3j5-1.6.0....0...1.1.64.psy-ab..10.6.1732...0i131k1j0i22i30k1.rywPnUtoLZU') Address 
		div(class='flex num04') Email Us
		div(class='flex num05')
			a(href='/sub/about') About Us 
		div(class='flex num06')
			a(href='/sub/contact') Contact Us 
		div(class='flex num02')
			a(href='https://www.facebook.com/teeleepopcorn/')
				img(src='/img/facebook.png', alt='icon1')
			a(href='https://twitter.com/PopcornPromos')
				img(src='/img/twitter.png', alt='icon2')
			a(href='https://www.google.com/search?site=&source=hp&q=tee+lee+popcorn+&oq=tee+lee+popcorn+&gs_l=psy-ab.3..0.978.2910.0.4751.16.11.0.0.0.0.521.1733.0j2j3j5-1.6.0....0...1.1.64.psy-ab..10.6.1732...0i131k1j0i22i30k1.rywPnUtoLZU')
				img(src='/img/google.png', alt='icon3')