extends layout
block content
    div
        div(class='main')
            include includes/navigation  
            div(class='container')
                h1  About our Company 
                h3 Quality popcorn for over 70 Years
                p At Tee Lee Popcorn, we have been producing and offering the best of quality popcorn in the Mid-West USA since 1944. We pride ourselves on tradition, but we also utilize the newest innovative research. This ensures our popcorn will maintain the highest standards for great tasting quality popcorn. At Tee Lee Popcorn, we know our customers and what they like. That's why our popcorn pops to a full, lush, crisp, delicious flavor that the world has come to know and love. We're not here to just offer popcorn, but to offer the best quality popcorn possible. Holding such a high standard not only reflects on us, but also reflects on those offering our popcorn. Whether you're buying, selling, growing, serving, or indulging in our popcorn, you'll know you have the highest quality popcorn.
        include includes/contactInfo