extends layout
block content
    div
        div(class='main')
            include includes/navigation
            navbar  
            div(class='container')
                h1  Our Brands 
                h3  PrimeTime Premium Popcorn
                p
                    | Tee Leeopcorn  is proud to offer PrimeTime Premium Microwave Popcorn. We select only the tastiest, most tender popcorn. We complement our PrimeTime popcorn with the finest flavors and ingredients. Order PrimeTime popcorn and join one of the fastest growing popcorn brands on the market today! We currently offer eleven delicious flavors of popcorn including Butter, Natural, Butter Light, Extra Butter and Kettle Corn. Be sure to order all eleven and offer an extensive variety to your future customers.
        div(class='theNext')
            div(class='container')
                div(class='row flavors')
                    img(src='/img/butter.png', alt='section two arrow pic')
                    img(src='/img/extraButter.png', alt='sdfgs')
                    img(src='/img/kettle.png', alt='asdf')
                    img(src='/img/butterLight.png', alt='asdf')
                    img(src='/img/jalapeno.png', alt='so arrow pic')
                    img(src='/img/natural.png', alt='section dstwo arrow pic')
        include includes/contactInfo