extends layout
block content
    div
        div(class='main')
            include includes/navigation  
            div(class='container')
                h1 Bulk Corn 
                h3 Quality and Quantity for the Best Price
                p Tee Lee popcorn is grown and processed in America's corn-belt. We carefully select our hybrids, and then allow only the finest growers in the US corn-belt to grow our popcorn. We gently harvest our popcorn at just the right time and carfully condition and process it in our facilities. We do this under strict quality control guidelines. The result of this constatn research and hard work is the best popcorn varieties, maximum popping volume, intense flavor, and a crisp, light flake.
                p We harvest our popcorn when the crop is at its peak then dry it slowly and naturally until it achieves optimum popping condition. It is then sorted by size, weight, polished, and gently air washed ensuring contamination-free, uniform popcorn.
        div(class='theNext')
            div(class='container')
                div(class='row contactInfo')
                    h3 Work Hours: 9:00am - 5:00pm; Monday - Friday 
                    p 101 W. Badger St. P.O. Box 108 Shannon, IL 61078
                    p Phone: (800) 578-2363 Fax: (815) 864-2388 www.teeleepopcorn.com 
        div(class='main')
            div(class='container')
                p Tee Lee has the perfect bulk popcorn for all your needs: 
                h3 Manufacturing 
                p Tee Lee offers many hybrids for commercial popping, coating, and microwave production.
                h3  Theatre and Concession 
                p Our popcorn offers maximum expansion giving you maximum profits.
                h3 Retail 
                p Tee Lee bulk popcorn is perfect for repackaging into retail units and resale to consumers.
                h3 Delivery 
                p Delivery is quick and easy, strategically located near one of the busiest shipping lanes in the United States.
        include includes/contactInfo