extends layout
block content
    div
        div(class='main')
            include includes/navigation
            div(class='container')
                h1  Current Opportunities 
                h3 we currently do not have any positions open at Tee Lee Popcorn Inc.
                p
                    | If you like our company and think you are a good fit, reach out to us! We love enthusiasm and are always looking for inspiring and energetic people to join us. Who knows, you may be worth making a position for!
        include includes/contactInfo