extends layout
block content
	div(class='contact main')
		include includes/navigation
		div(class='container')
			div(class='row topNames')
				div(class='col-sm-6')
					h3  James D. Weaver 
					p  Owner 
					p  phone: (815) 864-2363 ext 25 
					p  jimweaver@teeleepopcorn.com 
				div(class='col-sm-6')
					h3  Ken Weaver 
					p  President 
					p  phone: (815) 864-2363 ext 19 
					p  kenweaver@teeleepopcorn.com 
			div(class='row contactNames')
				div(class='col-sm-6')
					h3  Gary Armstrong 
					p  Vice President Operations 
					p  phone: (815) 864-2363 ext 21 
					p  garyarmstrong@teeleepopcorn.com 
				div(class='col-sm-6')
					h3  Larry Hubbard 
					p  Bulk Supervisor/Field Operations 
					p  phone: (815) 864-2363 ext 23 
					p  larryhubbard@teeleepopcorn.com 
			div(class='row contactNames')
				div(class='col-sm-6')
					h3  Mark Ferris 
					p  Microwave Production Supervisor 
					p  phone: (815) 864-2363 ext 24 
					p  markferris@teeleepopcorn.com 
				div(class='col-sm-6')
					h3  Marcos Perera 
					p  Vice President of International Sales 
					p  phone: (815) 864-2363 
					p  mperera@teeleepopcorn.com 
	include includes/contactInfo