extends layout
block content
    div
        div(class='main growerMain')
            include includes/navigation
            div(class='container')
                h1 Grower Information 
                h3 Our farmers know their crops
                p At Tee Lee, we produce specially selected hybrids of yellow popcorn in the heartland of America's Corn Belt. Tee Lee Popcorn continuously works to offer the best of hybrids to our customers. We work with the industry's leading hybrid seed companies to evaluate popcorn varieties to ensure that the popcorn you grow will yield the best results possible for your geographic region. We currently offer contracts for growers that guarantee pricing. Our standards for raising popcorn are similar to those for commercial corn.
                p Our top priority for our growers is to assist them in producing high quality and quantity varieties of butterfly and mushroom popcorn to maximize your profits. For information on pounds per-acre average and average cost per acre of supplies please call for details.
        div(class='growerBottom')
            div(class='container')
                div(class='row')
                    img(src='/img/graph.png', alt='graph', class='graph')
        include includes/contactInfo