extends layout
block content
	div(class='landing')
		include includes/navigation
		div(class='smallPopcorn')
		div(class='row row2')
			div(class='col-md-2')
			div(class='col-md-8')
				div(class='landing-text landHead')
					img(class="teeleelogo" src='./img/logo2.png' alt='logo')
					h1 Popcorn done right. 
					p perfect for popping
			div(class='col-md-2')
	div(class='Section2')
	div(class='next')
		div(class='section1')
			div(class='section1-details')
				h1  What we do 
				p  packaging and producing popcorn 
			div(class='row section2-row')
				div(class='container-fluid')
					img(src='./img/arrow.png', class='section2-arrowImage', alt='section two arrow pic')
			div(class='row section2-row')
				div(class='container-fluid')
					img(src='./img/popcorn-arrow.png', class='popcornImage1', alt='section 2 arrow pic 2')
	div(class='Section3')
	div(class='section3')
		div(class='row section3-row1')
			div(class='container-fluid')
				div(class='header-background')
					div(class='landing-text')
						h1  World Class Quality 
				div(class='smallPopcorn')
		div(class='row section3-row2')
			div(class='col-md-2')
			div(class='col-md-8')
				div(class='landing-text')
					h3 We produce globally
					p
						| For over 60 years Tee Lee has been growing, processing and packaging quality popcorn in the heart of America’s Corn Belt. We are a family owned business that takes pride in our popcorn. We are continuously working to offer the best hybrids to achieve the best possible growwing and popping results.
					p
						| We deliver your popcorn exactly the way you want. Since we are closely linked to one of the busiest shipping ports in the USA, we have the capabilities to send your 2,500 bulk tote or private label popcorn around the world in a timely, efficient manner.
			div(class='col-md-2')
	div(class='secondSection')
		div(class='map')
	div(class='Section4')
	div(class='next')
		div(class='section1')
			div(class='section1-details')
				h1  How we work 
				p  we grow it, produce it & package it 
			div(class='row section4-row')
				div(class='container-fluid')
					img(src='./img/arrow.png', class='section2-arrowImage', alt='section two arrow pic')
			div(class='row section4-row')
				div(class='container-fluid')
					img(src='./img/popcorn-arrow.png', class='popcornImage1', alt='section 2 arrow pic 2')
	div(class='Section5')
	div(class='section5')
		div(class='row section5-row1')
			div(class='container-fluid')
				div(class='header-background2')
					div(class='landing-text')
						h1 Reliable & Consistent
				div(class='smallPopcorn')
		div(class='row section5-row2')
			div(class='col-md-2')
			div(class='col-md-8')
				div(class='landing-text')
					h3 Quality and clients come first 
					p
						| We have been producing the best quality popcorn in Mid-West USA for 73 years, since 1944. We pride ourselves on tradition, but we also utilize the newest innovative research. This preserves our quality and taste. Wether you're buying, selling, growing, serving, or indulging in our popcorn, you'll know you have the highest quality popcorn in your hands.
					p
						| We are always seekeing ways to improve on perfection through levels of continuous evaluation and innovation. This dedication and commitment to excellence makes Tee Lee Popcorn one of the industry’s premier popcorn companies.
					div(class='row')
						div(class='flex num02')
							a(href='https://www.facebook.com/teeleepopcorn/')
								img(src='./img/facebook.png', alt='icon1')
							a(href='https://twitter.com/PopcornPromos')
								img(src='./img/twitter.png', alt='icon2')
							a(href='https://www.google.com/search?site=&source=hp&q=tee+lee+popcorn+&oq=tee+lee+popcorn+&gs_l=psy-ab.3..0.978.2910.0.4751.16.11.0.0.0.0.521.1733.0j2j3j5-1.6.0....0...1.1.64.psy-ab..10.6.1732...0i131k1j0i22i30k1.rywPnUtoLZU')
								img(src='./img/google.png', alt='icon3')
			div(class='col-md-2')
	div(class='Section8')
	div(class='next')
		div(class='section1')
			div(class='section1-details')
				h1  Contact Us
				p  If you have questions about our business just ask
			div(class='theNext')
				div(class='container')
					div(class='row contactInfo')
						h1  Contact Us
						p  If you have questions about our business just ask
						h3  Work Hours: 9:00am - 5:00pm; Monday - Friday 
						p  101 W. Badger St. P.O. Box 108 Shannon, IL 61078
						p  Phone: (800) 578-2363 Fax: (815) 864-2388 www.teeleepopcorn.com 
	div(class='Section9')
		div(class='section9')
