extends layout
block content
    div
        div(class='main marketMain')
            include includes/navigation
            navbar  
            div(class='container')
                h1 International Business 
                h3 global sales are our specialty
                p Purchasing food products from global resources can be a challenging task. We deliver our popcorn exactly the way you want. Since we are closely linked to one of the busiest shipping ports in the USA, we have the capabilities to send your bulk or private label popcorn around the world in a timely, efficient manner. Tee Lee Popcorn fulfills the diversified needs of our customers, while maintaining the highest quality popcorn product. We presently ship to more than 40 foreign countries.
            div(class='row mapRow')
                img(class='intMarkMap' src='/img/map.png' alt='map')
        include includes/contactInfo