extends layout
block content
    div
        div(class='main plMain')
            include includes/navigation
            div(class='container')
                h1  Private Labeling
                h3 our product is Kosher Pareve certified
                p(class='marginParagraph') Tee Lee uses only the finest popcorn hybrids selected exclusively for microwave popping. We will help develop custom flavors, or you may use a number of flavors immediate for immediate use. All private label microwave popcorn is manufactured under Tee Lee's strict quality control guidelines. Tee Lee gurantees that our customers will recieve premium microwave popcorn with intense flavo and a full bag every time.
                h3 On site Flavor testing
                p Since we have our on-site lab for developing flavors, we are able to offer a variety of choices.
        div(class='plDivider')
            div(class='container')
                div(class='row midText')
                    h1 Use the best corn for your brand.
        div(class='main plBottom')
            div(class='container')
                p(class='marginParagraph') Tee Lee Popcorn makes it easy for you to have your own branded microwave popcorn. We are a leading private label manufacturer with over 15 years of experience in the U.S. and international makets. Whether you are a large, international corporation, or a small regional company, Tee Lee Popcorn will develop a private label program for you.
                h3 Choose your Package Formats
                p(class='marginParagraph') Just let us design your new package at our facility. This includes logos, artwork, and UPCs.
                h3 Tell us your Needs
                p We are able to offer any volume that is required by our customers.
                p  We will deliver your branded microwave popcorn, excatly the way you want it. 
        include includes/contactInfo